html, body {
  margin: 0;
  height: 100%;
}

body {
    background: url(../img/background.jpg);
    margin: 0;
    padding: 0;
}

ul#menu {
   margin-bottom: 30px;
   text-align: right;
}
.literary{
	 width:120px;
	 height:100px;
}

ul#menu li {
   display: inline-block;
}

ul#menu li a{
	 margin-left:30px;
   text-align:center;
   font-size: 1em;
   font-weight:bold;
   padding:0.7em 0.3em;
	 text-decoration:none;
}

ul{
    margin-top: 60px;
}

.top{
  width: 960px;
  margin: 0 auto;
  padding-top:100px;
}
.middle{
	width:
}
/* Button */
.btn {
	font-family: Arial;
  display: inline-block;
  color: black;
  font-size: 0.8em;
  padding: 0.5em 1em;
  text-decoration: none;
  border: thin solid gray;
  background: linear-gradient(#f7f7f7, #dedede);
}

/* Messages */
.success, .error {
  padding: 1em 0 1em 3em;
}

.success {
  background-color: #ddffdd;
  border: thin solid green;
}

.error {
  background-color: #fbd9d8;
  border: thin solid red;
}

/* Misc */
.inlineBlock {
  display: inline-block;
}