<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>部落格</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/main/css/main.css">
  </head>
  <body>
  <div class="cHead">
  <div class="left">
  <div class="slogan"></div>
  <div class="logo"><img src="{% static 'main/img/literary.jpg' %}" alt="literary" class="img-max"></div></div>
  <div class="right">
  <div class="top"></div>
  <div class="main"></div></div>
      <ul class="menu">
        <li><a href="{% url 'main:main' %}">HOME</a></li>
        <li><a href="{% url 'main:products' %}">PRODUCTS</a></li>
        <li><a href="{% url 'main:about' %}">ABOUT</a></li>
        <li><a href="{% url 'article:article' %}">FEEDBACK</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account:logout' %}">LOG OUT ({{ user.username }})</a></li>
        {% else %}
        <li><a href="{% url 'account:register' %}" class="nav-link">SIGN IN</a></li>
        <li><a href="{% url 'account:login' %}" class="nav-link">LOG IN</a></li>
      {% endif %}
      </ul>
    </div>
  </body>
</html>