{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Use CSS3 to Create a Dynamic Stack of Index Cards - Demo</title>
  <link rel="stylesheet" href="{% static 'main/css/products.css' %}" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow" type="text/css">
</head>
<body>
  <div id="wrapper">
    <a href="#"><img src="{% static 'main/img/demo.png' %}" height="89" width="600" alt="DesignLovr Demo"></a>
    <ul id="index_cards">
      <li id="card-1">
        <h3>Card 1</h3>
        
        <a href="{% url 'article:articleRead' 1 %}">
        <img src="{% static 'main/img/a1.jpg' %}" height="150" width="130" alt="Toucan"></a>
        <p>Name: Toucan
        <br>
        Age: 5<br>
        Size: 50 cm<br>
        Weight: 600 g<br>
        Food: Fruit<br>
        Toucan lives in southern and central America and loves to fly around</p>
        </li>
        <li id="card-2">
          <h3>Card 2</h3>
          <a href="{% url 'article:articleRead' 2 %}">
          <img src="{% static 'main/img/a2.jpg' %}" height="130" width="130" alt="Fox"></a>
          <p>Name: Fox
          <br>
          Age: 3<br>
          Size: 70 cm<br>
          Weight: 5.5 kg<br>
          Food: Meat<br>
          Fox lives in the northern hemisphere and loves to play seek and hide</p>
          </li>
        <li id="card-3">
          <h3>Card 3</h3>
          <a href="{% url 'article:articleRead' 3 %}">
          <img src="{% static 'main/img/a3.png' %}" height="130" width="130" alt="Dog"></a>
          <p>Name: Dog
          <br>
          Age: 8<br>
          Size: 120 cm<br>
          Weight: 10 kg<br>
          Food: Bones<br>
          Dog lives in a dog hut and loves to chew shoes, bark and go for walks</p>
          </li>
        <li id="card-4">
          <h3>Card 4</h3>
          <a href="#">
          <img src="{% static 'main/img/a4.jpg' %}" height="150" width="130" alt="Penguin"></a>
          <p>Name: Penguin
          <br>
          Age: 20<br>
          Size: 110 cm<br>
          Weight: 35 kg<br>
          Food: Fish<br>
          Penguin lives where it's cold and icy and loves to swim and dive</p>
          </li>
        <li id="card-5">
          <h3>Card 5</h3>
          <a href="#">
          <img src="{% static 'main/img/a5.jpeg' %}" height="140" width="130" alt="Lion"></a>
          <p>Name: Lion
          <br>
          Age: 12<br>
          Size: 190 cm<br>
          Weight: 180 kg<br>
          Food: Meat<br>
          Lions lives in Africa and loves to sleep most of the day and hunt sometimes</p>
          </li>
          </ul>
          <a href="{% url 'main:main' %}" id="back">Back to the Homepage</a>
       </div>
    </body>
</html>